<h1>Editing Thing With React Form</h1>

<%= render 'form', thing_with_react_form: @thing_with_react_form %>

<%= link_to 'Show', @thing_with_react_form %> |
<%= link_to 'Back', thing_with_react_forms_path %>
